{% extends "layout.html" %}

{% block content %}
      <br><br>

      <h3> Statistics</h3>
      <br><br>
      <div class="infoclassical">
      <p class="medstats">Medical Statistics SAS and R codeing in Python (Stanford University): </p>
      <p align=center><a href="{{ url_for('ms1u1') }}"> MS 1 Unit 1 </a></p>
      <p align=center><a href="{{ url_for('ms1u2') }}"> MS 1 Unit 2 </a></p>
      <p align=center><a href="{{ url_for('ms1u3') }}"> MS 1 Unit 3 </a></p>
      <p align=center><a href="{{ url_for('ms1u4') }}"> MS 1 Unit 4 </a></p>
      </div>

      <h3> Other Interests</h3>
      <br><br>
      <span class="infoclassical">
      <p><a href="https://nutrifacts.herokuapp.com/" target="_blank"> Nutrition facts </a></p>
      </span>
      <span class="infoclassical">
      <p><a href="https://warm-shore-61492.herokuapp.com/" target="_blank"> Naturalization 100 Q&amp;A </a></p>
      </span>
      <span class="infoclassical">
      <p><a href="{{ url_for('mfp') }}" target="_blank"> Math facts practice </a></p>
      </span>
       <span class="infoclassical">
      <p><a href="{{ url_for('piano') }}" target="_blank"> Piano practice (only working on computer or laptop)</a></p>
      </span>

    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/icebreaker.css') }}">-->
    <!--<script src="{{ url_for('static', filename='javascript/studyscript.js') }}"></script>-->
{% endblock %}
