{% extends "layout.html" %}
 
{% block content %}
      <br><br>
      <span class="infoclassical">
      <p><a href="https://nutrifacts.herokuapp.com/" target="_blank"> Nutrition facts </a></p>
      </span>
      <span class="infoclassical">
      <p><a href="https://warm-shore-61492.herokuapp.com/" target="_blank"> Naturalization 100 Q&amp;A </a></p>
      </span>
      <span class="infoclassical">
      <p><a href="{{ url_for('mfp') }}" target="_blank"> Math facts practice </a></p>
      </span>
       <span class="infoclassical">
      <p><a href="{{ url_for('piano') }}" target="_blank"> Piano practice (only working on computer or laptop)</a></p>
      </span>
     
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/icebreaker.css') }}">-->
    <!--<script src="{{ url_for('static', filename='javascript/studyscript.js') }}"></script>-->
{% endblock %}
