<html>
  <head>
     
           <!--<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" type="text/css"/>-->
           <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
           <!--<link rel="stylesheet" href="/home/csillus/sempic/educ/venv/static/style/style.css" type="text/css" />-->
           <title> California Mathematics </title>
                <meta name="viewport" content="width=device-width" />
                <meta property="og:locale" content="en_US"/>
                <meta property="og:type" content="website"/>
  </head>
<body>
<div id="container">
		

            <nav>
	         <ul>
		      <li ><a href="">Counting</a>
                              <ul>
				
                                <li><a href="{{ url_for('countpenny') }}">Counting Pennies</a></li>
				<li><a href="../static/html/countnickel.html">Counting Nickels</a></li>
				<li><a href="../static/html/countdime.html">Counting Dimes</a></li>
                              </ul>
                       </li>
		        <li><a href="">Paying</a>
			    <ul>
				<li><a href="">Pay with Pennies</a></li>
				<li><a href="">Pay with Nickels</a></li>
				<li><a href="">Pay with Dimes</a>
				 	<!--<ul>
						<li><a href="">HTML</a></li>
						<li><a href="">CSS</a></li>
					</ul>-->
				</li>
			    </ul>
		         </li>
		       <li><a href="">Price</a>
			      <ul>
				<li><a href="">Price with Pennies</a></li>
				<li><a href="">Price with Nickels</a></li>
			      </ul>
		        </li>
		    <li><a href="">Problem</a></li>
	        </ul>
              </nav>

		<div id="left">
                    		
                    <!--<img id="pennyhead" src="" border="0" style="display:none" /><span id="pennyheadnum"> </span>
                          

                    <img id="pennytail" src="" border="0" style="display:none" /> <span id="pennytailnum"> </span>-->
                <!--<IMG src="static/images/centtrans1.png" width="80" height="80" border="0" hspace="0">-->
		</div>

		<div  id="right">
             
			

 <br><br>
<!--<span id='up' onclick="up()"> Up </span>-->
<!--<img onclick="up()" src="{{ url_for('static', filename='images/uptrans5.png') }}" width="30px" height="30px"/>-->

			
		</div>



		<div id="footer">
			<p> Elementary Mathematics, California  <!-- <a href="mailto:csilla.bukki@gmail.com"> Email </a>-->
                        <!--<a href="{{ url_for('classical') }}"> Home </a>-->
                         </p> 
		</div> 
         </div>
      
      
<script>


//var item ="";
//var bolreplay = false;
/*
function getCount(){

     //document.getElementById("right").innerHTML = "What is it?";
     
     if (!bolreplay){
        var e = document.getElementById("count");
        item = e.options[e.selectedIndex].value;
        
        //document.getElementById("footer").innerHTML = item + bolreplay;
        }
    else {
      //document.getElementById("right").innerHTML = item + bolreplay;
    }
       bolreplay = true;
     item =  1;
     var x = Math.floor((Math.random() * (11 - 3)) + 3);
     var solutions = [];
     //var inputval = [];

     var imgstring = "<img src='static/images/centtrans1.png' width='60px' height='60px' />";
     var inputfirst = "<input type='text' name='start' class='numinput' ";
     var inputsecond = " style='width: 60px; height:50px; text-align: center; background-color: #f0e8f2; margin: 5px;' maxlength='4'>";
     var resultf = "<input type='text' name='result' id='result' class='numinput' style='width: 80px; height:80px; text-align: center; background-color: #f0e8f2; margin: 6px;' maxlength='4'>";

     var text = "";

     if (item > 0 && item < 4) {
      document.getElementById("right").style.backgroundImage ="none";
      document.getElementById("right").style.background ="#ffdddd";
     document.getElementById("header").style.color="#885588";
     document.getElementById("header").style.textAlign="center";
     document.getElementById("header").style.fontSize="24px";
    if (!bolreplay){
        document.getElementById("count").style.display = "none";
        document.getElementById("pay").style.display = "none";
        document.getElementById("matchprice").style.display = "none";
        document.getElementById("problemsolving").style.display = "none";
     }
    }

     if (item === "1") {
        
        document.getElementById("header").innerHTML = "<br> Counting with Pennies <span id='menu' onclick='showMenu()'> Menu </span>";
        document.getElementById("left").innerHTML = "<img src='static/images/centtrans1.png' width='40px' height='40px'/><span class='imgspan'> 1 cent </span><br><br> <img src='static/images/centtrans1.png' width='40px' height='40px'/><span class='imgspan'> 1 cent </span> ";
        
      for (var i = 0; i < x; i++) {
    		text += imgstring;
                //solutions[i] = i+1;
                 solutions.push(i+1);
                
		}
                //solutions[x] = x;
               solutions.push(x);

     text += "<form name='form1'>";
     
     for (var j = 0; j < x; j++) {
                var idhelp = "numinput" + j;
                //document.getElementById("footer").innerHTML = idhelp;
    		text += inputfirst + "id='"+ idhelp + "'" + inputsecond;
		}
text +="<br><br>" + resultf;
text += "</form>";
       //document.getElementById("right").innerHTML = solutions[x];
       document.getElementById("right").innerHTML = "Find the value of the pennies. <span class='replay' onclick='getCount()'> Replay </span><br><br>" + text;

       //good idea to hide input field?
       //var a = "numinput" + (x - 3);
       //document.getElementById(a).style.display = "none";

       
       document.getElementById("result").addEventListener("keyup" , function(){ 
                if ( document.getElementById("result").value == solutions[x]) { 
		document.getElementById("result").style.color = "green";
                   }
               else {
              document.getElementById("result").style.color = "red";
                 }
		}, false);
             
          
            
           document.getElementById("numinput0").addEventListener("keyup" , function(){ 

                if ( document.getElementById("numinput0").value == solutions[0]) { 
		document.getElementById("numinput0").style.color = "green";
                   }
               else {
              document.getElementById("numinput0").style.color = "red";
                 }
		}, false);
             
            document.getElementById("numinput1").addEventListener("keyup" , function(){ 
                if ( document.getElementById("numinput1").value == solutions[1]) { 
		document.getElementById("numinput1").style.color = "green";
                   }
               else {
              document.getElementById("numinput1").style.color = "red";
                 }
		}, false);

             document.getElementById("numinput2").addEventListener("keyup" , function(){ 
                if ( document.getElementById("numinput2").value == solutions[2]) { 
		document.getElementById("numinput2").style.color = "green";
                   }
               else {
              document.getElementById("numinput2").style.color = "red";
                 }
		}, false);
    
   document.getElementById("numinput3").addEventListener("keyup" , function(){ 
                if ( document.getElementById("numinput3").value == solutions[3]) { 
		document.getElementById("numinput3").style.color = "green";
                   }
               else {
              document.getElementById("numinput3").style.color = "red";
                 }
		}, false);
           
     }



    else if (item === "2"){
    document.getElementById("header").innerHTML = "<br> Counting with Nickels <span class='menu' onclick='showMenu()'> Menu </span>";

    }
    else if (item === "3"){
         document.getElementById("header").innerHTML = "<br> Counting with Dimes <span class='menu' onclick='showMenu()'> Menu </span>";
    }


    else{
       //document.getElementById("right").innerHTML = "Error";

    }
   

}

*/
/*function showMenu(){
bolreplay = false;
var getcount = "getCount('0')";
var menutext = "<select id='count' onclick='getCount()'><option value='1' > Count Pennies </option><option value='2'> Count Nickels </option> <option value='3'> Count Dime </option></select><select id='pay'> <option value='1'> Pay with Pennies </option><option value='2'> Pay with Nickels </option><option value='3' > Pay with Dimes </option></select><select id='matchprice' > <option value='1'> Price with Pennies </option> <option value='2'> Price with Nickels </option> </select>  <select id='problemsolving'> <option value='1'> Problem with Pennies </option> <option value='2'> Problem with Nickels </option> </select>";
 
    document.getElementById("header").innerHTML = menutext;
    document.getElementById("left").innerHTML = "";
    document.getElementById("right").innerHTML = "";
    //document.getElementById("right").style.backgroundImage = "url('/static/images/backcoins.png')";
    }


    function hideMenu(){
   //document.getElementById("countcoins").style.display="none";
 }

function doTest(){
   document.getElementById("menu").style.color = "white";
}*/
	
</script>  


 

</body>
</html>
