<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Math Facts Practice</title>

    <!-- Bootstrap -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!--<link href="css/musicstyles.css" rel="stylesheet">-->   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/musicstyles.css') }}">

</head>

<body id="mfps">

 <div class="container">
        <br><br> 
         <h1 class="op"> Multiplication </h1>
         <div class="row">
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('mfps2to6') }}" target="_blank"> mfps 2-6 </a></p> </div>
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('mfps7to10') }}" target="_blank"> mfps 7-10 </a></p></div>
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('mfps2to10') }}" target="_blank"> mfps 2-10 </a></p> </div>
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('mfps2to12') }}" target="_blank"> mfps 2-12 </a></p> </div>
         </div>
          
        
       <h1 class="op"> Division </h1>
         <div class="row">
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('dfps2to6') }}" target="_blank"> dfps 2-6 </a></p>  </div>
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('dfps7to10') }}" target="_blank"> dfps 7-10 </a></p> </div>
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('dfps2to10') }}" target="_blank"> dfps 2-10 </a></p> </div>
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('dfps2to12') }}" target="_blank"> dfps 2-12 </a></p> </div>
          </div>
       
        <h1 class="op"> Addition </h1>
          <div class="row">
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('afps2to6') }}" target="_blank"> afps 2-6 </a></p>  </div>
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('afps7to10') }}" target="_blank"> afps 7-10 </a></p> </div>
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('afps2to10') }}" target="_blank"> afps 2-10 </a></p> </div>
            <div class="col-xs-12 col-sm-3 mmm"> <p class="mfp"><a href="{{ url_for('afps2to12') }}" target="_blank"> afps 2-12 </a></p> </div>
          </div>

        <!--<h1 class="op"> Substraction </h1>
         <div class="row">
            <div class="col-xs-12 col-sm-3 mmm">  </div>
            <div class="col-xs-12 col-sm-3 mmm">  </div>
            <div class="col-xs-12 col-sm-3 mmm">  </div>
            <div class="col-xs-12 col-sm-3 mmm">  </div>
          </div>-->
         

         <h1 class="mfp"><a class="op" href="http://www.playkidsgames.com/games/mathfact/mathFact.htm" target="_blank"> Online math practice </a></h1>
       </div>

   
</body>
</html>
